body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

.pimg1, .pimg2, .pimg3{
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

.pimg1{
  background-image:url('img/img1.jpeg');
  min-height:100%;
}

.pimg2{
  background-image:url('img/img2.jpeg');
  min-height:400px;
}

.pimg3{
  background-image:url('img/img3.jpeg');
  min-height:400px;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color:#f4f4f4;
  color:#666;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 20% min-content 1.4fr 20%;
  grid-template-rows: 93px 400px 75px auto 176px;
  gap: 0px 0px;
}

.header {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . . . ."
    "Tittle Tittle navigator navigator navigator navigator"
    ". . . . . .";
  grid-area: 1 / 2 / 2 / 4;
}

.Tittle {
  grid-area: Tittle;
}

.navigator {
  grid-area: navigator;
  text-align: right;
}

.subheader {
  
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-area: 3 / 2 / 4 / 4;
}

.aboutus {
  grid-area: 2 / 1 / 3 / 2;
}

.meet {
  grid-area: 2 / 3 / 3 / 4;
}

.Quote {
  grid-area: 2 / 1 / 3 / 4;
}

.contents {
  background-image: url(bg.png);
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 0px 0px;
  grid-template-areas:
    "card"
    "sub1"
    "content1"
    "content2";
  grid-area: 4 / 2 / 5 / 4;
}
.card {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 60px;
  grid-template-areas: "card1 card2 card3 card4";
  grid-area: card;
}
.card3 {
  grid-area: card3;
}
.card4 {
  grid-area: card4;
}
.card2 {
  grid-area: card2;
}
.card1 {
  grid-area: card1;
}
.sub1 {
  grid-area: sub1;
  background-image: url(div.png);
  height:30px;
  text-align: center;
  text-emphasis-color: white;
}
.content1 {
    padding-left: 20px;
    padding-right: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 30px;
  grid-template-areas: "content1-1 content1-2  content1-3 ";
  grid-area: content1;
}
.content1-1 {
  grid-area: content1-1;
}
.content1-3 {
  grid-area: content1-3;
}
.content1-3 {
  grid-area: content1-3;
}
.content2 {
    padding-top: 30px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-template-areas: ".";
  grid-area: content2;
}
.footer {
    background-color : #151515;
    z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1.6fr 10%;
  gap: 0px 0px;
  grid-template-areas:
    "about-us getsocial newsletter"
    "copyright . designby";
  grid-area: 5 / 2 / 6 / 4;
}
.about-us {
  grid-area: about-us;
}
.getsocial {
  grid-area: getsocial;
}
.newsletter {
  grid-area: newsletter;
}
.copyright {
  grid-area: copyright;
  background-color : #151515;
}
.designby {
  grid-area: designby;
  background-color : #151515;
}
.slider {
  grid-area: 2 / 1 / 3 / 5;
}
.bghead {
  grid-area: 1 / 1 / 2 / 5;
  background-image: url(bg.png);
  z-index: 1;
}
.bgsub {
  grid-area: 3 / 1 / 4 / 5;
  background-color: #55a2a6;
  z-index: 1;
}
.bgfoot {
  grid-area: 5 / 1 / 6 / 5;
  background-color : #151515;
  z-index: 1;
}
img {
  width: 100%;
  height: 400px;
}
a {
  color: #444444;
  text-decoration: none;
  padding-right: 10px;
  display: inline-flex;
}

.content1 p{
    text-align: left;
    font-size: small;
}


.card img {
    height: 80px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.footer h3{
    color: antiquewhite;
}

.footer p{
    color: antiquewhite;
}

.getsocial img{
    width: 36px;
    height: 36px;
}

button{
    background-color: #55A2A6;
    outline: none;
    color: white;
}

input {
    border: none;
    color: antiquewhite;
    background-color: #333333;
    outline-color: #333333;
}

b {
    font-family: sans-serif;
}

