.table-border {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table-border td,
.table-border th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.table-border tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-border tr:hover {
    background-color: #ddd;
}

.table-border th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}