body {
    background-image: url("./images/topography.svg"),
      linear-gradient(110deg, #f93d66, #6d47d9);
    background-size: 340px, auto;
    min-height: calc(100vh - 100px);
    margin: 50px;
    /* background: white; */
    background-attachment: fixed;
    letter-spacing: -1px;
  }

.menu .button-menu {
    background: #ffc600;
    border: 0;
    padding: 10px 60px;
    color: black;
    font-weight: bold;
    border-radius:0px;
  }

  /* hero section */
  .hero .hero-img img {
      width: 730px;
      height: 300px;
  }

  .hero .price-top {
      height: 140px;
      background-color: #ffc600;
      margin-bottom: 10px;
  }

  .hero .price-bottom {
    height: 140px;
    background-color: #ffc600;
    margin-top: 20px;
  }

  .option {
    background: white;
    padding: 20px;
  }

  .details {
      background-color: white;
      padding: 30px;
  }