


table {
    border-collapse: collapse;
    width: 70%;
    margin: auto;
    border: 3px rgb(255, 255, 255) solid;
  
  }
  
  td,
  th {
    border: 2px solid #ffffff;
    padding: 8px;
  }
  td {
    text-align: center;
    background-color: #ff7f50;
 
  }
  th {
    background-color: #aaaaaa;
    text-align: center;
  }

