* {
margin-left: 100px;
}

h2{
  margin-left: 250px;
}

.slider{
		margin:30px;
}

.image{
  max-width: 400px;
	flex-grow: 1;
}

Paper{
  height: 50px;
	display: flex;
	padding-left: 4px;
	background-color: default;
	align-items: center;
}

img{
  height: 255px;
  width: 100%;
	max-width: 400px;
	display: block;
	overflow: hidden;
}