<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table>
	<tbody>
		<tr>
			<th>id</th>
			<th>Name</th>
			<th>email</th>
			<th>body</th>
		</tr>
		<tr th:each="model:${data}">
			<td th:text="${model.id}" />
			<td th:text="${model.name}" />
			<td th:text="${model.email}" />
			<td th:text="${model.body}" />
		</tr>
	</tbody>
	</table>

</body>
</html>